
.cert-date {
    background-color: #ff5823;
    padding: 4px 12px;
    font-weight: bold;
    font-size: 14px;
    width: fit-content;
    min-width: 60%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 14px;
    color: var(--white);
}

.cert-company{
    padding-top: 2%;
}

.cert-description{
    padding-top: 2%;
}

a.cert-link{
    padding: 4px 12px;
    margin-left: 30%;
    background-color: #00008B;
    margin-top: 15%;
    min-width: 60%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 14px;
    color: var(--white);
}


a.link-title:hover, a.link-title:active{
    color: navy;
    text-decoration: underline;
  }

a.link-title:link, a.link-title:visited{
color:black;
font-weight: bold;
text-decoration: none;
}

img.cert_pic{
    max-height: 200px;
    max-width: 200px;
    margin-left:10%;
    padding: 5px;
}

.cert-title{
    font-weight: bold; 
}

.cert-pages{
    width: 10%;   
}

.cert-page-text{
    margin-bottom: 5%;
    padding: 5px;
}

.heading-text{
    padding-top:10%;
}

.cert-filter{
   margin-left: 90%;
}

.filter-title{
    font-size: 12px;
    font-style: italic;
 }

 @media only screen and (min-width: 700px) and (max-width: 1025px) {
     .info-main{
         min-width: 100px;
         margin-left: 15%;
         font-size: 90%;
     }
     .link-title{
        font-size: 90%;
     }

     .heading-text{
         font-size: 28px;
     }
     .cert-filter{
         margin-left: 85%;
     }

 }

 @media only screen and (min-width: 100px) and (max-width: 700px) {
    .info-main{
        min-width: 40%;
        margin-left: 15%;
        font-size: 80%;
    }

    .link-title{
        font-size: 80%;
     }

    .heading-text{
        font-size: 20px;
    }
    img.cert_pic{
        margin-left: 20%;
        padding: 10px;
    }

    .cert-filter{
        margin-left: 70%;
    }
    a.cert-link{
        margin-left: 20%;
    }
    
    .cert-date {
        margin-left: 20%;
    }

    .cert-pages{
        width: 50%;   
    }

    .cert-page-text{
        display: None;
    }
}
